html {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-flow: column;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  margin: 0 32px;
}

header {
  margin-top: 16px;
}

sub {
  margin-top: 4px;
}

#content {
  flex: 1;
  display: flex;
  flex-flow: column;
  margin: 16px 0;
}

textarea {
  flex: 1;
}

button {
  margin-top: 16px;
}